@{
  Layout = "_Layout";
}

@using Bakery.Models;

@Html.ActionLink("Register", "Register", "Account", null, new { @class="btn btn-primary"})
@Html.ActionLink("Login", "Login", "Account", null, new { @class="btn btn-primary"})

<h4>Treats</h4>

@if (ViewBag.treats.Count == 0)
{
  <p>No treats have been added</p>
}
<ul>
  @foreach (Treat treat in ViewBag.treats)
  {
    <li>@Html.ActionLink(@treat.Name, "Details", "Treats", new { id= @treat.TreatId })</li>
  }
</ul>

<h4>Flavors</h4>
@if (ViewBag.flavors.Count == 0)
{
  <p>No flavors have been added</p>
}
<ul>
  @foreach (Flavor flavor in ViewBag.flavors)
  {
    <li>@Html.ActionLink(@flavor.Name, "Details", "Treats", new { id= @flavor.FlavorId })</li>
  }
</ul>