<div class="navbar">
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  <p>@Html.ActionLink("Add Flavor", "Create", "Flavors")</p>
  <p>@Html.ActionLink("Add Treat", "Create", "Treats")</p>
  <p>@Html.ActionLink("Flavors", "Index", "Flavors")</p>
  <p>@Html.ActionLink("Treats", "Index", "Treats")</p>
</div>